*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	
	
}
/*nav*/
.bcolor{
	background-color: #f5f5f5;
}
.nav{
	padding: 10px 0px !important;
}
.navli{
	font-size: 19px;
}
.hr2{
	margin: 0px;
	background-color: #dbdbdb;
	height: 1.5px;
}
.nav-div1{
	background-color: white;
	height: 60px; 
	width: 100% !important;
}
.hr1{
	margin: 0px;
	background-color: #dbdbdb;
	height: .5px;
}
/*customer index*/
.hr3{
	background-color: #cc7a00;
	height: .4px;
}
.icon-index{
	color: #cc7a00 !important;
	font-size: 40px !important;
}
.product-index{
  border-style: solid;
  border-color: #c0c0c0;
  padding: 4px;
  border-width: 0.5px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}
.product-index:hover{
  background-color: #FCFCFC;
  font-weight: 800px
}
.zoom{
  transform: scale(1);
  transition: 0.1s ease-in-out;
}
.zoom:hover{
  transform: scale(1.03);
}
.Poppin{
font-family: 'Poppins';
}
.product-index h5{
  color: #333333;
  margin-top: 10px;
  word-break: break-word;
  overflow: hidden;
   text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.product-index h6{
  color: #cc7a00;
  font-family: 'Poppins';
}
.home-img-index{
  width: 100%;height: 700px;
}
.carousel-indicators li {
  border: 1px solid !important;
  border-color: #dbdbdb !important;
 background-color: #cc7a00 !important;
}
.carousel-indicators .active {
   
  background-color: #170c82 !important;
}
.try-index{
  max-width: 270px !important;
}
.view-img{
  height: 243px;
  width: 230px;
}
.title-index{
  margin: 25px 0px;font-weight: 700;font-family: 'Poppins';font-size: 35px;
}
.index-div2{
	margin-top: 60px;
	margin-bottom: 60px;
}
.index-div3{
	min-height: 470px;
}
.a-text{
	float: right;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 20px;
}
.a-index-row1{
	padding-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.index-col1{
	min-width: 350px;
}
.index-col2{
	margin-top: 10px;
}
.a-img{
	width: 350px;
	height: 350px;
	display: block;
	margin: auto;
}
.a-content{
	text-align: justify;
	text-indent: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
@media only screen and (max-width: 800px){
  .home-img-index{
    width: 100%;height: 500px;
  }
}
@media only screen and (max-width: 600px){
  .home-img-index{
    width: 100%;height: 400px;
  }
 .try-index{
  max-width: 180px !important;
  }
  .view-img{
  height: 153px;
  width: 140px;
  }
  .product-index h5{
  font-size: 16px;
  max-width: 190px;
  }
  .product-index h6{
  font-size: 14px;
  }
}
@media only screen and (max-width: 500px){
  .title-index{
    font-size: 30px;
  }
}
@media only screen and (max-width: 425px){
  .a-img{
    width: 300px;
	height: 300px;
  }
}

/*product*/
.zoom-product1{
  transform: scale(1);
  transition: 0.1s ease-in-out;
}
.zoom-product1:hover{
  transform: scale(1.03);
}
.product1{
	border-style: solid;
	border-color: #c0c0c0;
	padding: 4px;
	border-width: 0.5px;
	margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}
.product1:hover{
	background-color: #FCFCFC;
	font-weight: 800px
}
.Poppin-product{
font-family: 'Poppins';
}
.product1 h5{
	color: #333333;
	margin-top: 10px;
	word-break: break-word;
	overflow: hidden;
   text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.product1 h6{
	color: #cc7a00;
	font-family: 'Poppins';
}
.try-product{
	max-width: 270px !important;
}
.view-img-product{
	height: 243px;
	width: 230px;
}
.cat-product{
	border: 1px solid;border-color: #dbdbdb;height: 38px; width: 150px;text-align: center;
}
.product-div1{
	margin-top: 40px;
	min-height: 660px;
}
.product-col1{
	margin-top: 20px;
	min-width: 350px; 
	max-width: 400px;
	float: right;
}
.product-col2{
	margin-top: 50px;
}
@media only screen and (max-width: 600px){
	
	.try-product{
	max-width: 180px !important;
	}
	.view-img-product{
	height: 153px;
	width: 140px;
	}
	.product1 h5{
	font-size: 16px;
	max-width: 190px;

	
	}
	.product1 h6{
	font-size: 14px;
	}
	.cat-product{
		width: 110px
	}
}
/*product details*/
.rowpad{
	padding-left: 1px;
}
.img-prod{
	width: 400px; 
	height: 450px;
}
.title_text{
	margin: 60px 0px 5px 20px;
	font-weight: 600;
	color: black;
	font-size: 40px;
	margin-bottom: 40px;
	font-family: 'Poppins';
}
.size-1{
	width: 130px !important;
	text-align: center ;
	border-color: #dbdbdb;
}
.button-1{
	width: 150px !important;
	background-color: #cc7a00 !important;
	color: white !important;
}
.button-2{
	width: 150px !important;
	background-color: #170c82 !important;
	color: white !important;
}
.view-div1{
	margin-top: 50px;
	min-height: 660px;
}
.view-div2{
	margin-bottom: 10px;
}
.price-view{
	font-size: 18px;
}
.price-view2{
	padding: 10px; 
	font-weight: bold; 
	width: 130px;
	border-style: none;
	color: #cc7a00;
	font-size: 23px;
	background-color: #f5f5f5;
}
.description-view{
	font-size: 18px;
}
.description-view2{
	padding: 10px; 
	resize: none; 
	width: 100%;
	border-style: none;
	margin-top: 8px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
}
.view-row{
	margin-top: 0px;
}
.view{
	font-size: 18px;
}
.view-minus{
	padding: 5px 10px !important;
	margin-right: 0px;
	height: 40px;
	background-color: #ffffff;
	border-style: solid;
	border-right-style: none;
	border-color: #dbdbdb;
}
.view-quantity{
	text-align: center;
	width: 70px;
	margin-left: 0px;
	height: 40px;
	border-style: solid;
	border-color: #dbdbdb;
	border-left-style: none;
	border-right-style: none;
}
.view-plus{
	padding: 5px 8px;
	height: 40px;
	background-color: #ffffff;
	border-style: solid;
	border-left-style: none;
	border-color: #dbdbdb;
}
@media only screen and (max-width: 991px){
	.prod_name{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 600px){
	.rowpad{
		padding-left: 25px;
	}
	.title_text{
		font-size: 35px;
	}
	.prod_name{
		font-size: 30px;
	}
}
@media only screen and (max-width: 425px){
	.img-prod{
		width: 300px;
		height: 320px;
	}
	.size-1{
		width: 100px;
	}
	.button-1,.button-2{
		width: 130px !important;
	}
	.title_text{
		font-size: 30px;
	}
	.view-quantity{
		width: 55px;
	}
}
/*modal product details*/
.view-label1{
 	margin-right: 24% !important;
}
.view-label2{
	margin-right: 27% !important;
}
.view-label3{
	margin-right: 15% !important;
}
.view-label{
	margin-right: 27% !important;
}
.view-modal1{
	width: 40% !important;
	float: left; 
	margin-right: 5px;
}
.view-modal2{
	width: 40% !important;
}
.view-modal3{
	width: 40% !important; 
	float: left; 
	margin-right: 5px;
}
.view-modal4{
	width: 50% !important;
	float: left;
	margin-right: 5px;
}
.view-modal5{
	width: 40% !important;
	float: left; 
	margin-right: 5px;
}
.view-modal6{
	width: 50% !important;
	float: left;
	margin-right: 5px;
}
/*order page*/
.stat_but{
	border:none; 
	border-radius: 5px; 
	width: 70px; 
	color: white;
	font-size: 10px;
}
.pname{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.order-title{
    margin: 60px 0px 5px 20px;
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Poppins';
 }
 .order-div1{
 	border:1px solid;
 	border-color: #dbdbdb;
 	margin-top: 30px;
 	background-color: white;
 }
 .order-panel{
 	height: 55px;
 }
 .order-body{
 	width: 100% !important;
 	height: 500px; 
 	overflow: auto;
 }
 .order1{
 	margin-bottom: 10px;
 }
 .order2{
 	min-width: 130px !important;
 	align-items: center;
 }
 .order3{
 	min-width: 150px !important;
 }
 .order-modal1{
 	width: 100% !important;
 	height: 100% !important;
 	overflow: auto;
 }
 @media only screen and (max-width: 600px){
	.row-order{
		max-width: 130px ;
	}
	.row1-order{
		max-width: 130px ;
	}
}
/*service cart*/
.service-button{
	border:none; 
	border-radius: 5px; 
	width: 70px; 
	color: white;
	font-size: 10px;
}
.sc-title{
    margin: 60px 0px 5px 20px;
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Poppins';
}
.sc-container{
	margin-top: 30px !important;
	min-height: 580px !important;
	background-color: white;
}
.sc-div1{
	height: 55px;
}
.sc-container2{
	width: 100% !important; 
	height: 500px !important;
	overflow: auto !important;
}
.sc-row2{
	margin-bottom: 10px;
}
.sc-row3{
	min-width: 130px;
}
.sc-modal1{
	width: 100% !important; 
	height: 100% !important;
	overflow: auto !important;
}
@media only screen and (max-width: 600px){
	.sc-row{
		max-width: 130px ;
	}
	.sc-row1{
		max-width: 130px ;
	}
}

/*account page*/
.account-container{
	margin-bottom: 30px;
}
.account-container1{
	padding: 10px;
	max-width: 900px;
	background-color: white;
	margin-bottom: 150px !important;
}
.account-title{
	font-weight: 500;
	color: black;
	margin: 10px 0px 0px 10px;
	font-family: 'Poppins';
}
.account-hr{
	margin-top: 20px;
}
.account-row1{
	margin: 10px !important;
}
.account-col1{
	padding: 10px 20px !important;
}
.account-col2{
	padding: 10px 20px !important;
}
.account-row2{
	margin: 25px 5px !important;
}
.account-input1{
	width: 230px;
	padding: 5px 0px 5px 10px;
	border-color: #dbdbdb;
}
.account-input2{
	width: 230px;
	padding: 5px 0px 5px 10px;
	display: none;
}
.account-hr1{
	margin-top: 40px;
}
.abtn1{
	background-color: #cc7a00 !important;
	color: white !important;
	border-color: #cc7a00 !important;
}
.abtn2{
	background-color: #170c82 !important;
	color: white !important;
	border-color: #170c82 !important;
}
.account-modal1{
	max-width: 200px !important;
}
.account-modal-btn1{
	background-color: #cc7a00 !important;
	color: white !important;
	border-color: #cc7a00 !important;
}
@media only screen and (max-width: 432px){
	.abtn1, .abtn2{
		min-height: 60px ;
	}
	
}

/*Header*/
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type:none;
}
nav ul li{
	display: inline-block;
	margin-left: 20px;
}
a{
	text-decoration: none;
	color: #eeeeee;
	font-weight: 600;
}
nav ul li a:hover{
	color: #cc7a00;
}

.logo h1{
	color: #fff;
}
h1 span{
	color: #cc7a00;;
}
.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.header{
	background: #170c82;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}
.fas {
	color: #fff;
	margin-left: 20px;
	font-size: 25px;
}

.fas:hover{
	color: #cc7a00;
}


/*all products*/
.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;

}
.col-4{
	flex-basis: 25%;
	padding: .5%;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	background: #fff;
	margin-left: 2px;
	margin-right: 2px;

}
.left_area{
	width: 30%;
	float: left;
	height: 70px;
}
header{
	top: 0;
	position: fixed;
	background: #170c82;
	width: 100%;
	height: 5em;
}
.left_area h3{
	position: absolute;
	color: #fff;
	margin-left: 50px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;
}
.left_area span{
	color: #cc7a00;
}

.col-4 p{
	font-size: 14px;
}
.col-4:hover{
	transform: translateY(-5px);
}
.col-4 img{
	width: 100%;

}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
	padding: 20px;
	
}
.col-2 img{
	max-width: 100%;
	max-height: 600px;
	/*padding: 50px 0;*/
	padding: 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin-top: 0px;
	color: #cc7a00;

}

/*check out page*/



/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}


/*media query for menu*/


@media only screen and (max-width: 800px){
	
}
/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
	
}
