.card-body
{
		display: inline-block;
		font-family: sans-serif;
		margin: 10px;
		padding: 20px;
		width: 250px;
		height: 100px;
		border-radius: 5px;
		border-left: solid 5px;
		border-color: #170c82;
		color: #170c22;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
	.float-left {
		float: left;
	}
	.float-right{
		float: right;
	}
	.card-body h1
	{
		margin: auto;
		display: block;

	}
	.count
	{
		font-size: 30px;
		font-weight: 500;
	}
	.card-body h4{
		font-size: 15px;
		margin-top: 0; 
	}
	.card-body i{
		font-size: 40px;
	
	}
	
.to_link{
	color: #170c22;
}

.to_link:hover{
	color: #170c22;
}